.man,
.woman {
  width: 300px;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.man .header,
.woman .header {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
}
.man .center,
.woman .center {
  margin-top: 60px;
  height: 180px;
}
.man .center .content,
.woman .center .content {
  width: 140px;
  height: 180px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.man .center .content .left,
.woman .center .content .left {
  width: 150px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  left: -60px;
  top: 40px;
  transform: rotate(-30deg);
}
.man .center .content .right,
.woman .center .content .right {
  width: 150px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  right: -60px;
  top: 40px;
  transform: rotate(30deg);
}
.man .footer,
.woman .footer {
  position: relative;
  height: 150px;
}
.man .footer .content,
.woman .footer .content {
  width: 180px;
  height: 150px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.man .footer .content .left,
.woman .footer .content .left {
  width: 20px;
  height: 100px;
  border-radius: 10px;
  position: absolute;
  left: 20px;
  top: -20px;
  transform: rotate(30deg);
}
.man .footer .content .right,
.woman .footer .content .right {
  border-radius: 10px;
  position: absolute;
  right: 20px;
  top: -20px;
  width: 20px;
  height: 100px;
  transform: rotate(-30deg);
}
.man {
  position: absolute;
  right: 1200px;
  top: 50px;
  transition: all 1s;
}
.man .header {
  background-color: green;
}
.man .center .content {
  background-color: green;
}
.man .center .content .left {
  background-color: green;
}
.man .center .content .right {
  background-color: green;
}
.man .footer .left {
  background-color: green;
}
.man .footer .right {
  background-color: green;
}
.box {
  width: 300px;
  height: 500px;
  background-color: #ccc;
}
.man {
  z-index: 999;
  animation: move 1s infinite;
}
.woman {
  position: absolute;
  right: 10px;
  top: 50px;
}
.woman .header {
  background-color: pink;
}
.woman .center .content {
  background-color: pink;
}
.woman .center .content .left {
  background-color: pink;
}
.woman .center .content .right {
  background-color: pink;
}
.woman .footer .left {
  background-color: pink;
}
.woman .footer .right {
  background-color: pink;
}
@keyframes move {
  0% {
    right: 1200px;
  }
  50% {
    right: 10px;
  }
  100% {
    right: 1200px;
  }
}
